body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .time-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  
  .country {
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 5px;
  }
  
  p {
    font-size: 18px;
  }